*{
    font-family: "Young Serif", serif;
    font-style: normal
}
body{
    background-color: hsl(30, 54%, 90%);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 350px;
    height: 100vh;
}
.container{
    background-color: white;
    display: block;
    border-radius: 3vh;
    text-align: left;
    width: 750px;
    height: auto;
    padding: 25px ;  
    margin-top: 50%;
    margin-bottom: 50%;
}
.image{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    border-radius: 2vh;
    margin-top: 3%;
}
.perp{
    background-color: hsl(330, 100%, 98%);
    border-radius: 3vh;
    padding: 15px;
    text-align: left;
    line-height: 1.4;
    
}
.perp h2{
    color: hsl(332, 51%, 32%);
}
h2{
    color: hsl(14, 45%, 36%);
}
li::marker{
    color: hsl(14, 45%, 36%);
}
.Nutrition {
    width: 95%;
    padding: 20px;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(14, 45%, 36%); 
    padding: 10px 0;
}

.left {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    color: hsl(14, 45%, 36%); 
}
.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(14, 45%, 36%); 
    padding: 10px 0;
}
.right {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    color: hsl(14, 45%, 36%);}
.left {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    color: #555;}